<nav id="navbar" class="navbar fixed-top navbar-expand-md navbar-dark">
  <div class="navbar-left">
    <a class="navbar-brand" href="#">{{this.data?.info?.name ?? "Ivan Litskevich"}}</a>

    <div class="btn-group btn-group-sm navbar-btn pull-left">
      <!--style="display: inline-block; padding-right: 10px; padding-top: 4px;"-->
      <button type="button" class="btn btn-info dropdown-toggle text-uppercase" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{this.data?.info?.lang ?? "en"}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!--        <li><a routerLink="ru">Русский</a></li>-->
        <!--        <li><a routerLink="en">English</a></li>-->
        <li><a (click)="this.switchLanguage('ru')" class="empty">Русский</a></li>
        <li><a (click)="this.switchLanguage('en')" class="empty">English</a></li>
        <!--        <li><a (click)="this.switchLanguage('de')" class="empty">Deutsch</a></li>-->
      </ul>
    </div>

    <a class="btn btn-sm btn-secondary ml-2" target="_blank"
       [href]="this.data.info.cv" *ngIf="this.data">
      <i class="fas fa-cloud-download-alt"></i>
      {{this.data.translations.resume}}
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" *ngIf="!!this.data">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!--        <a class="nav-link empty" (click)="scrollToAnchor('skills')">{{this.data.translations.menu.skills}}</a>-->
        <a class="nav-link" href="#skills">{{this.data.translations.menu.skills}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">{{this.data.translations.menu.about}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">{{this.data.translations.menu.experience}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#certification">{{this.data.translations.menu.certification}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education">{{this.data.translations.menu.educationHigh }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#courses">{{this.data.translations.menu.educationCourses}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacts">{{this.data.translations.menu.contacts}}</a>
      </li>
    </ul>
  </div>
</nav>
