<header>
  <app-navbar [data]="this.data"></app-navbar>
</header>
<main class="container" *ngIf="!!this.data">
  <app-intro [data]="this.data"></app-intro>
  <app-skills [data]="this.data"></app-skills>
  <app-about [data]="this.data"></app-about>
  <app-experience [data]="this.data"></app-experience>
  <app-certification [data]="this.data"></app-certification>
  <app-education [data]="this.data"></app-education>
  <app-courses [data]="this.data"></app-courses>
  <app-contacts [data]="this.data"></app-contacts>
</main>
